@font-face {
    font-family: Altona;
    src: url(AltonaSans-Regular.ttf);
}

html{
    height: 100%;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(http://m.gettywallpapers.com/wp-content/uploads/2022/08/Love-4k-Wallpaper.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    height: 100%;
    width: auto;
    margin: 0px;
    flex-flow: column
}

.cont{
    justify-content: space-between;
    justify-content: space-around;
    display: flex;
    flex-flow: row;
}

.foto{
    display: flex;
    flex-flow: wrap column;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    padding-top: 15%;
}

.foto img{
    margin: 10px;
    width: 100%;
}

.certificado{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 40%;
    margin: 0px 10px;
}

.certificado img{
    width: 100%;
    margin-top: 45%;
}

a{
    text-decoration: none;
    font-family: 'Altona';
    font-size: 30px;
    color:#514b54;
    background-color: #bf6858;
    border-radius: 30px;
    border: none;
    padding: 15px 30px;
    margin: 20px 0px;
}

a:hover{
    transition: 0.5s all;
    transform: scale(1.1);
    background-color: #514b54;
    color: #bf6858;
}

.conf{
    padding: 30px;
}

@media screen and (max-width:768px) {
    .cont{
        justify-content: space-between;
        justify-content: space-around;
        display: flex;
        flex-flow: column;
    }

    .foto{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        justify-content: space-around;
        width: 100%;
        height: 30%;
    }

    .foto img{
        width: 30%;
    }
}