@font-face {
    font-family: Sansilk;
    src: url(Sansilk.ttf);
}

@font-face {
    font-family: Altona;
    src: url(AltonaSans-Regular.ttf);
}

html{
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

body{
    display: flex;
    justify-content: center;
    background-image: url(http://m.gettywallpapers.com/wp-content/uploads/2022/08/Love-4k-Wallpaper.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    vertical-align: middle;
    align-items: center;
    align-content: center;
    height: 100%;
    margin: 0px;
}

#cont{
    justify-content: center;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    align-self: center;
    width: 80%;
    height: 100%;
}

h2{
    font-family: 'Sansilk';
    color: #e0d3ce;
    font-size: 80px;
    text-align: center;
    margin: 0px;
}

#buttons{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: 10px;
    width: 100%;
    justify-content: space-around;
}

button{
    font-family: 'Altona';
    font-size: 90%;
    color:#514b54;
    background-color: #bf6858;
    border-radius: 30px;
    border: none;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    cursor: pointer;
    text-decoration: none;
    margin: auto;
    height: auto;
}

button:hover{
    transition: 0.5s all;
    transform: scale(1.1);
    background-color: #514b54;
    color: #bf6858;
}

@media screen and (max-width:768px) {
    .cont{
        justify-content: space-between;
        justify-content: space-around;
        display: flex;
        flex-flow: column;
    }

    .foto{
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        justify-content: space-around;
        width: 100%;
        height: 30%;
    }

    .foto img{
        width: 30%;
    }
}